<!DOCTYPE html>

<html>
    <body>
        <h1>Music</h1>

        <p>
            「shimaemon」名義で、同人音楽サークル「保留」を立ち上げ活動開始。<br />
            音楽ゲームでプレイした「音ゲー音楽」を軸に、多彩なジャンルの楽曲を制作。<br />
            国内最大級の同人音楽即売会イベント「<a href="https://www.m3net.jp/" target="_blank" rel="noopener noreferrer">M3</a>」にも過去6回出展し、自主制作CDを頒布。<br />
        </p>

        <p>保留</p>
        <a href="https://x.com/chocotto_matte" target="_blank" rel="noopener noreferrer">
            <img th:src="@{/images/x-logo.png}" alt="保留_X">
        </a>
        <br>

        <p>shimaemon</p>
        <a href="https://x.com/shimaemon_o3o" target="_blank" rel="noopener noreferrer">
            <img th:src="@{/images/x-logo.png}" alt="shimaemon_X">
        </a>
        <br>

        <a href="https://horyu.booth.pm/" target="_blank" rel="noopener noreferrer">
            <img th:src="@{/images/booth-logo.png}" alt="保留_booth">
        </a>
    </body>
</html>